[submodule "R/shiny/markets_shiny"]
	path = R/shiny/markets_shiny
	url = http://github.com/leoluyi/markets_shiny.git
[submodule "python-flask/flask-restful-api-template"]
	path = python-flask/flask-restful-api-template
	url = http://github.com/leoluyi/flask-restful-api-template.git
